html {
  font-size: 20px;
}

body {
  color: #444;
  font-family: 'Caveat';
}

.App {
  max-width: 20rem;
  background: #eee;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 2rem auto;
}
.App h1 {
  margin: 0 0 0.5rem;
}

input,
button {
  font-size: 1.5rem;
  border-radius: 0.25rem;
  border: none;
  padding: 0.25rem 0.75rem;
  font-family: 'Caveat';
}

input:focus,
button:focus {
  outline: none;
}

button {
  margin: 0 0.5rem;
  background: #444;
  color: white;
  font-weight: bold;
}

ul {
  padding: 0;
}

.todo-item {
  font-size: 1.5rem;
  list-style: none;
  margin-bottom: 0.5rem;
}

.todo-item[data-completed='true'] .text {
  text-decoration: line-through;
}

.todo-item .remove {
  margin-left: 1rem;
  color: #999;
  cursor: pointer;
  padding: 0 0.25rem;
}

.todo-item .remove:hover {
  color: inherit;
}
