html {
  font-size: 18px;
}

body {
  color: #444;
}

.App {
  max-width: 20rem;
  background: #eee;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 2rem auto;
}
.App h1 {
  margin: 0 0 0.5rem;
}

input,
button {
  font-size: 1rem;
  border-radius: 0.25rem;
  border: none;
  padding: 0.25rem 0.75rem;
}

button {
  margin: 0 0.5rem;
  background: #444;
  color: white;
  font-weight: bold;
}
.todo-item[data-completed='true'] .text {
  text-decoration: line-through;
}

.todo-item .remove {
  font-size: 0.6em;
  margin-left: 1rem;
  color: #777;
  cursor: pointer;
}
